.registration {
  min-height: 660px;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 42% 58%);
  &__redirect {
    min-height: 660px;
    left: 0;
    right: 58%;
  }
  @media (max-width: 992px) {
    display: flex;
    align-items: center;
    min-height: 100%;
  }
}